html { height: 100%; }
body {
    margin: 0;
    font-family: Circular, Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ff7a64;
    min-height: 100%;
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link-container {
    color: #242430;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.nav-link {
    margin: 12px 24px;
    font-size: 2rem;
    font-weight: bolder;
}

.nav-link > a {
    color: #242430;
}

.nav-link > a:hover {
    color: #ffef6e;
}

.nav-link-active {
    border-bottom: 5px solid #ffef6e ;
}

.gitlab-link > img {
    opacity: 0.4;

}
.gitlab-link > img:hover {
    opacity: 1;

}

button {
    cursor: pointer;
}

.content {
    margin: auto;
    width: 100%;
    /*border: 3px solid #242430;*/
    /*background-color: #61dafb;*/
    /*padding: 10px;*/
    min-width: 300px;
    max-width: 1200px;
    /*justify-content: center;*/
}

.page {
    display: flex;
    flex-flow: column;
    height: 100%;

}
.header {
    flex: 0 1 auto;
}

a {
    text-decoration: none;
}

.token-input {
    margin-top: 64px;
    display: flex;
    justify-content: center;
}
.token-input > input {
    width: 100%;
    height: 42px;
    font-size: 1.3em;
    max-width: 900px;
    border: 4px solid #242430;
}
.token-input > input::placeholder {
    color: #ff7a6466;
}

.token-content {
    width: 100%;
    text-align: center;
    max-width: 900px;
    /*display: flex;*/
    /*justify-content: center;*/
    margin: auto
}

.token-button-inputs {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.account-button-inputs {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: white;
    margin-left: 8px;
    /*width: 5vw;*/
    height: 48px;
    border: 4px solid #242430;
    font-size: 1.45em;
    min-width: 90px;
    font-weight: bold;
}

button:hover {
    /*background-color: rgba(255,255,255,0.3);*/
    background-color: #242430;
    color: #ffef6e;
}

.button-disabled {
    background-color: rgba(255,255,255,0.3) !important;
    color: #24243099;
}
.button-disabled:hover {
    color: #24243099;
    cursor: default;
}

.token-feedback {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    font-size: 8em;
}
.token-helper-text {
    margin-top: 48px;
    font-size: 1.5em;
}

.help-button-div {
    margin-right: auto;
    margin-left: 0;
}
.help-button {
    margin-left: 0;
    margin-right: 8px;
}

.checkbox {
    background-color: white;
    margin-left: 8px;
    margin-right: 16px;
    width: 32px;
    height: 32px;
    border: 4px solid #242430;
    font-size: 1.45em;
    min-width: 32px;
    font-weight: bold;
}

.checkbox:hover {
    background-color: #242430;
}
.checkbox:active {
    background-color: #242430;
}

.checkbox-checked {
    background-color: #242430;
}

.text-label {
    font-size: 1.3em;
}

.text-label-xsmall {
    font-size: 0.7em;
}

.text-label-medium {
    font-size: 1.2em;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.mini-margin-top {
    margin-top: 12px;
}

.med-margin-top {
    margin-top: 64px;
}
.med-margin-bottom {
    margin-bottom: 64px;
}

.mega-margin-top {
    margin-top: 128px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 12px;
    background-color: white;
    border: 4px solid #242430;
    font-size: 1.45em;
    min-width: 200px;
    max-width: 300px;
    font-weight: bold;
    padding: 12px
}

.card-active {
    margin: 12px;
    background-color: #242430;
    color: #ffef6e;
    border: 4px solid #242430;
    font-size: 1.45em;
    min-width: 200px;
    max-width: 300px;
    font-weight: bold;
    padding: 12px
}

.card:hover {
    margin: 12px;
    border: 4px solid #ffef6e;
    font-size: 1.45em;
    min-width: 200px;
    max-width: 300px;
    font-weight: bold;
    padding: 12px
}


.primaryColor {
    color: #ff7a64;
}

.pointer {
    cursor: pointer;
}

.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 48px
}

.transaction-card {
    margin: -2px auto;
    background-color: white;
    border: 2px solid #242430;
    font-size: 1em;
    width: 50%;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.transaction-card:hover {
    margin: -2px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #242430;
    font-size: 1em;
    width: 50%;
    font-weight: bold;
    padding: 12px;

    display: flex;
    flex-wrap: wrap;
}

.date-card {
    margin: 16px auto 0px auto;
    background-color: #ffef6e;
    border: 2px solid #242430;
    font-size: 1em;
    width: 50%;
    font-weight: bold;
    padding: 12px;
}

.month-card {
    margin: 16px auto -18px auto;
    background-color: #98dfea;
    border: 2px solid #242430;
    font-size: 1em;
    width: 50%;
    font-weight: bold;
    padding: 12px;
}

.tx-tag {
    font-size: 0.75em;
    margin: auto 4px;
    padding: 2px 6px;
    border-radius: 12px;
    font-weight: normal;

    color: #13c2c2;
    background: #e6fffb;
    border: 1px solid #87e8de;
}

.mt-48 {
    margin-top: 48px;
}
